body {
	font-size: 2em;
}

header span {
	padding: 25px 5px;
	font-size: 1.5em;
}

main {

	margin-top: 65px;

}

main h1 {
	margin-bottom: 65px;
}

footer {
	padding-top: 15px;
	padding-bottom: 15px;
}

footer p, .alert p {
	margin: 0;
	padding: 0;
	font-size: .6em;
}